.cardStyle {
    margin: auto;
    width: 80%;
    max-width: 400px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .cardStyle:hover {
    transform: scale(1.05);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .cardTitle {
    color: #36454F;
    margin: 24px;
  }

  ion-toggle {
    padding-left: 20px;
    padding-right: 20px;
  
    --handle-width: 75px;
    --handle-height: 27px;
    --handle-max-height: auto;
    --handle-spacing: 6px;
  
    contain: none;
  }
  
  ion-toggle::part(track),
  ion-toggle.toggle-checked::part(track) {
    height: 20px;
    width: 200px;
  
    background: #ddd;
  
    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
  }
  
  ion-toggle::part(handle) {
    background: #4e95c3;
    border-radius: 4px;
    box-shadow: none;
  }
  
  ion-toggle.toggle-checked::part(handle) {
    background: #95c34e;
  }
